{% extends "base.html" %}
{% block contenu %}
  <div class="actu">
    {% if "pseudo" in session %}
      <div class="box-post">
        <div class="post-header">
          <h2>Créateur : <a href="{{ url_for('infos_profil') }}?pseudo={{ i['auteur'] }}" title="Lien vers la page du créateur">{{ i["auteur"] }}</a></h2>
          <h2>Titre : {{ i["nom_image"] }}</h2>
          <p>{{ i["date"].strftime('le %d/%m/%Y à %H:%M:%S') }}</p>
        </div>
        <div class="post-img-case">
          <a href="#" title="Lien vers le détails de l'image"><img src="{{ url_for('affiche_image', nom_image=i['nom_fichier']) }}" alt="Image de i['auteur']" /></a>
        </div>
        <div class="post-footer">
          <div class="likes">
            {% if savoir_si_like(session["pseudo"],i["nom_image"],i["nom_fichier"]) %}
            <a href="{{ url_for('rem_like') }}?a={{ session['pseudo'] }}&b={{ i['nom_image'] }}&c={{ i['nom_fichier'] }}" title="Lien pour dislike"><img src="{{ url_for('static', filename='icon/coeur_plein.png') }}" alt="Coeur vide" /></a>
            {% else %}
            <a href="{{ url_for('ad_like') }}?a={{ session['pseudo'] }}&b={{ i['nom_image'] }}&c={{ i['nom_fichier'] }}" title="Lien pour like"><img src="{{ url_for('static', filename='icon/coeur_vide.png') }}" alt="Coeur vide" /></a>
            {% endif %}
            <p>{{ nb_like(i["nom_image"]) }} likes</p>
          </div>
          {% if session["pseudo"] == i["auteur"] %}
          <a href="{{ url_for('rem_image') }}?id={{ i['id'] }}" title="Lien pour sup^rimer l'image" class="supr">suprimer</a>
          {% endif %}
          <div class="ajout-com">
            <form class="form" action="{{ url_for('ad_com') }}" method="POST">
              <div class="name-section">
                <input type="text" name="contenu" autocomplete="off" maxlength="250" required />
                <label for="contenu" class="label-name">
                <span class="content-name">Entrez votre commentaire</span>
              </label>
              </div>
              <input type="text" name="nom_image" value="{{ i['nom_image'] }}" hidden />
              <input type="text" name="auteur" value="{{ session['pseudo'] }}" hidden />
              <input type="submit" value="ENVOYER" />
            </form>
          </div>
        </div>
      </div>
    {% else %}
    <div class="box-post">
      <div class="post-header">
        <h2>Créateur : <a href="{{ url_for('infos_profil') }}?pseudo={{ i['auteur'] }}" title="Lien vers la page du créateur">{{ i["auteur"] }}</a></h2>
        <h2>Titre : {{ i["nom_image"] }}</h2>
        <p>{{ i["date"].strftime('le %d/%m/%Y à %H:%M:%S') }}</p>
      </div>
      <div class="post-img-case">
        <a href="#" title="Lien vers les détails de l'image"><img src="{{ url_for('affiche_image', nom_image=i['nom_fichier']) }}" alt="Image de {{i['auteur']}}" /></a>
      </div>
      <div class="post-footer">
        <div class="likes">
          <a href="javascript:void(0);"  onclick='reserved()' title="Lien pour like"><img src="{{ url_for('static', filename='icon/coeur_vide.png') }}" alt="Coeur vide" /></a>
          <p>{{ nb_like(i["nom_image"]) }} likes</p>
        </div>
        <div class="ajout-com">
          <p>Vous devez vous connecter pour mettre un commentaire</p>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="commentaires">
      <h2 class="titre-section">Commentaires</h2>
      <div class="coms">
        {% for j in com%}
          <div class="com-content">
            <div class="com-header">
              <h2>De {{ j["auteur"] }}</h2>
              {% if session["pseudo"] == j["auteur"] %}
              <a href="{{ url_for('rem_com') }}?id={{ j['id'] }}" title="Lien pour suprimer le commentaire" class="supr">Suprimer le commentaire</a>
              <a href="{{ url_for('change_com') }}?id={{ j['id'] }}" title="Lien pour modifer le commentaire">Modifier le commentaire</a>
              {% endif %}
              <p>{{ j["date"].strftime('le %d/%m/%Y à %H:%M:%S') }}</p>
            </div>
            <div class="para">
              <p>{{ j["contenu"] }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
