{% extends "base.html" %}
{% block contenu %}
  <div class="form-box">
    <form class="form" action="{{ url_for('inscrip') }}" method="post">
      <h2>S'inscrire</h2>
      <div class="name-section">
        <input type="text" name="pseudo" autocomplete="off" maxlength="15" required />
        <label for="pseudo" class="label-name">
          <span class="content-name">Entrez votre pseudo</span>
        </label>
      </div>
      <div class="name-section">
        <input type="password" name="mdp" value="" required />
        <label for="mdp" class="label-name">
          <span class="content-name">Entrez votre mot de passe</span>
        </label>
      </div>
      <input type="submit"value="S'inscrire" />
    </form>
  </div>
{% endblock %}
